/*
    old style https://i.gyazo.com/924753ad92b2155fb6dade8d21b9feb9.png
*/

/* some preferred defaults */
* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    position: relative;
    outline: none;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

html, body {
    /* make height be full page */
    height: 100%;
}

body {
    background-color: white;
    overflow: hidden;
}

#footer {
    bottom: 0px;
}

#message {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 5px;
    height: auto;
    text-align: center;
    display: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #222222;
    color: white;
}

.form {
    width: 440px;
    margin: auto;
    padding: 15px;
    padding-bottom: 24px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    top: 20%;
}

#register_form {
    display: none;
}

label {
    font-size: 25px;
    font-weight: 600;
}

input.login {
    padding-left: 8px;
    margin-top: 10px;
    height: 35px;
    width: 430px;
    font-weight: 600;
    border-radius: 1px;
    /*background-color: #05bd61;*/
    background-color: rgba(34,34,34,0.2);
    color: #222222;
}

/* placeholder text in text inputs (might not work on all browsers) */
::-webkit-input-placeholder {
    opacity: 0.6;
    color: white;
}

.login.button {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 20px;
    background-color: #222222;
    width: 438px;
    color: white;
}

/* clicked buttons */
.button:active {
    top: 2px;
}

.button:hover {
    opacity: 0.9;
}

hr {
    border-top: 1px solid rgba(34, 34, 34, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
}
