/*
    old style https://i.gyazo.com/924753ad92b2155fb6dade8d21b9feb9.png
*/

/* some preferred defaults */
* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    position: relative;
    outline: none;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: #222222;
}

html, body {
    /* make height be full page */
    height: 100%;
}

body {
    background-color: white;
	/*overflow: hidden;*/
}

#footer {
    bottom: 0px;
}

#message {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 5px;
    height: auto;
    text-align: center;
    display: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #222222;
    color: white;
}

.form {
    width: 440px;
    margin: auto;
    padding: 15px;
    padding-bottom: 24px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    top: 20%;
}

#register_form {
    display: none;
}

label {
    font-size: 25px;
    font-weight: 600;
}

input.login {
    padding-left: 8px;
    margin-top: 10px;
    height: 35px;
    width: 430px;
    font-weight: 600;
    border-radius: 1px;
    /*background-color: #05bd61;*/
    background-color: rgba(34,34,34,0.2);
    color: #222222;
}

/* placeholder text in text inputs (might not work on all browsers) */
::-webkit-input-placeholder {
    opacity: 0.6;
    color: white;
}

.login.button {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 20px;
    background-color: #222222;
    width: 438px;
    color: white;
}

/* clicked buttons */
.button:active {
    top: 2px;
}

.button:hover {
    opacity: 0.9;
}

hr {
    border-top: 1px solid rgba(34, 34, 34, 0.2);
    margin-top: 20px;
    margin-bottom: 10px;
}

table td + td {
	border-left: 1px solid rgba(34,34,34,0.2);
}

td, th {
	height: 22px;
	padding: 2px;
	text-align: center;
}

th {
	text-transform: uppercase;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #white;
}

tr:nth-child(even) {
	background-color: rgba(241,241,241,1);
}

table {
	width: 100%;
	background-color: white;
}

.dropshadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
	height: calc(100% - 36px);
	display: none;
	background-color: white;
	width: 100%;
	overflow-y: scroll;
}

#header {
	width: calc(100% - 10px);
	height: 3%;
	min-height: 25px;
	background-color: #00E26B;
	padding-left: 10px;
	margin-bottom: 10px;
}

#header img {
	bottom: -16%;
}

#main {
	width: calc(70% - 20px);
	height: calc(67% - 30px);
	float: left;
	left: 10px;
	background-color: white;
}

ul {
	text-transform: uppercase;
}

.tab {
	color: #00E26B;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	text-align: center;
	cursor: pointer;
	background-color: white;
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 25%;
}

#tab_slider {
	height: 2px;
	width: 25%;
	background-color: #00E26B;
}

.content.current {
	display: inline-block;
}

#timeline {
	width: calc(30% - 10px);
	height: calc(97% - 20px);
	float: right;
	right: 10px;
	background-color: white;
}

#meetings {
	width: calc(35% - 15px);
	height: 30%;
	float: left;
	left: 10px;
	top: 10px;
	background-color: white;
}

#timers {
	width: calc(35% - 15px);
	height: 30%;
	margin-left: calc(35% + 5px);
	top: calc(67% - 20px);
	background-color: white;
}

.subcontent {
	background-color: white;
	width: 50%;
	height: 100%;
	display: inline-block;
}
