* {
    font-family: "Open Sans";
}

div, p, a, li, td { -webkit-text-size-adjust:none; }

@media (max-device-width: 1025px) {
    #menu {
        display: none !important;
    }
    #hero_banner {
        height: 240px !important;
    }
    body {  
        background: #fff !important;
        background-size: 100% auto !important;
    }
    #logo_main {
        filter: invert(100%);
        width: 400px !important;
        padding-top: 40px;
    }
    #content {
        border: none !important;
    }
}

html, body {
    height: 100%;
    margin: 0px;
    width: 100%;
    color: #111;
}

body {
    background: url(res/full.jpg) #fff center 40% no-repeat;
    background-size: cover;
    min-width: 1000px;
}

table {
    border-collapse: collapse;
}

h1 {
    font-weight: 400;
    margin: 0 0 0;
}

h2 {
    margin-bottom: 0;
    font-weight: 300;
    text-align: left;
}

p {
    text-align: justify;
    font-size:16px !important;
}

td h2 {
    text-align: center;
}

li {
    text-align: left;
    list-style: none;
    font-size:16px !important;
}

#content li:before {
    content: "\00B7";
    font-size: 35px;
    vertical-align: middle;
    line-height: 20px;
    position: relative;
    width: 0px;
    left: -5px;
}

.center_align {
    text-align: center;
}

.blocks {
    /*box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    border: 1px solid #ccc;
    border-radius: 2px;*/
    padding: 10px 20px 0;
    margin: 30px 0;
}

.social_media {
    text-decoration: underline;
    display: inline-block;
    padding: 10px;
    color: #111;
}

.disclaimer {
    text-align: center;
    font-style: italic;
    margin: 10px auto 20px;
    width: 80%;
}

.italics {
    font-style: italic;
}

.tab {
    margin: 10px 0 10px;
    font-weight: 500;
    cursor: pointer;
}

.testimonial {
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px;
    max-width: 100%;
}

#testimonials .quotee {
    font-weight: 600;
}

#hero_banner {
    height: 100%;
    width: 100%;
}

#hero_elements {
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    margin: 0 auto;
    color: white;
    z-index: 2;
    top: 45%;
}

#logo_main {
    width: 600px;
    height: auto;
}

#menu {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: white;
    border-bottom: 1px solid #ccc;
    min-width: 1000px;
    display: table-row;
    list-style: none;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    padding: 0 0 10px;
    margin: 0 auto;
    width: 100%;
    z-index: 9;
    top: 0px;
}

#menu:hover {
    opacity: 0.1;
}

@media (max-width: 1117px) {
  #menu {
    padding: 0;
  }
}

#more {
    text-align: center;
    position: absolute;
    min-width: 1000px;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    width: 100%;
    bottom: 0px;
}

#contactform {
    /*background-color: #f5f5f5;
    border: 1px solid #ccc;*/
    border-radius: 2px;
    margin: 0 auto;
    width: 100%;
}

#content {
    border-top: 1px solid #ccc;
    background-color: white;
    text-align: center;
    min-width: 1000px;
    width: 100%;
}

#content_wrapper {
    box-sizing: padding-box;
    background-color: white;
    padding: 16px 5% 10px;
    max-width: 1200px;
    margin: 0 auto;
}

#aboutme {
    margin: 20px 0 10px 20px;
    display: inline-block;
    float: right;
    width: 300px;
}

#services_window {
    margin: 0 auto 20px;
    width: 100%;
}

#services_tabs {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#active_tab {
    border-radius: 2px 2px 0 0;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: 1px solid white !important;
}

#tab_content {
    display: table;
    z-index: 9;
    width: 100%;
}

#pricing_table {
    border: 1px solid #ccc;
    margin: 16px 0 20px;
    border-collapse: collapse;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    padding: 20px;
}

#pricing_table th, #pricing_table td {
    border: 1px solid #ccc;
    padding: 8px;
}

#pricing_table tr:nth-child(odd) {
    background: rgba(0,0,0,0.01);
}

#pricing_table th {
    background: rgba(0,0,0,0.03);
    text-transform: uppercase;
    font-weight: 500;
}

#footer {
    border-top: 1px solid #ccc;
    background-color: white;
    text-align: center;
    width: 100%;
}

#contactform input, #contactform textarea {
    box-shadow: 3px 3px 0 rgba(0,0,0,0.02);
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    margin: 3px 0;
    padding: 6px;
    width: 100%;
}

#active_tab h2 {
    margin-top: 9px;
}

#tab_content > div {
    background-color: white;
    border: 1px solid #ccc;
    border-top: 0px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    box-sizing: border-box;
    border-radius: 2px;
    text-align: left;
    padding: 0 20px;
    display: none;
    width: 100%;
}

#services_tabs td {
    border-bottom: 1px solid #ccc;
    padding: 0;
}

#contactform textarea {
    resize: vertical;
}

#contactform label {
    width: calc(100% - 32px);
    display: inline-block;
    text-align: left;
    margin: 10px 0 0;
}

#contactform button {
    border: 1px solid rgba(0,0,0,.4);
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    background-color: transparent;
    width: calc(100% - 32px);
    font-weight: 400;
    padding: 0 0 2px;
    font-size: 20px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    margin: 16px;
}

#menu li {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    height: 100%;
    width: 13%;
}

#menu li:hover {
    color: #666;
}


#package_pricing {
    width: 101.3%;
    position: relative;
    left: -0.5%;
}

.package {
    width: 96%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    margin: 0 0 20px;
}

.package td {
    text-align: center;
}

.package .name {
    background-color: rgba(0,0,0,0.03);
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
}

.package .description {
    font-size: 16px;
}

.package .price {
    margin: 10px;
    font-size: 22px;
    font-weight: 400;
}

.package .price>div {
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}