<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.User.Name}}</title>
    <style>{{template "style.css"}}</style>
</head>
<body>
    <div class="page">
        <div class="info">
            <img src="{{.User.Icon}}" />
            <h1>{{.User.Name}}</h1>
            <h3>{{.User.Username}}</h3>
            <p>{{.User.Description}}</p>
            <hr/>
            <i>{{template "assets/location.svg"}}</i> <span>{{.User.Location}}</span>
        </div>
        <div class="tabs">
            <div class="nav">
                <a class="item projects" href="#projects">
                    Projects
                    <span class="counter">{{len .Projects}}</span>
                </a>
                <a class="item contributions" href="#contributions">
                    Contributions
                    <span class="counter">12</span>
                </a>
            </div>
            <div class="content projects">
                {{range .Projects}}
                    <div class="card">
                        <a href="https://github.com/{{.FullName}}" class="name" target="_blank">
                            {{if not (eq .Owner.Username $.User.Username)}}
                                <span class="owner">
                                    {{.Owner.Username}}/
                                </span>
                            {{end}}
                            {{.Name}}
                        </a>
                        <p class="description">{{.Description}}</p>
                    </div>
                {{end}}
            </div>
            <div class="content contributions">
                <div class="card">soon™</div>
            </div>
        </div>
    </div>

    <div class="github-icon">
        <a href="https://github.com/{{.User.Username}}" target="_blank">
            {{template "assets/github.svg"}}
        </a>
    </div>

    <script>{{template "script.js"}}</script>
</body>
</html>
