<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.User.Name}}</title>
    <style>{{template "style.css"}}</style>
</head>
<body>
    <div class="page">
        <div class="info">
            <img src="{{.User.Icon}}" />
            <h1>{{.User.Name}}</h1>
            <h3>{{.User.Username}}</h3>
            <p>{{.User.Description}}</p>
            <hr/>
            <div class="links">
                <div class="item"><i>{{template "assets/location.svg"}}</i>{{.User.Location}}</div>
                <div class="item"><i>{{template "assets/mail.svg"}}</i><a href="mailto:{{.User.Email}}">{{.User.Email}}</a></div>
            </div>
        </div>
        <div class="tabs">
            <div class="nav">
                <a class="item projects" href="#projects">
                    Projects
                    <span class="counter">{{len .Projects}}</span>
                </a>
                <a class="item contributions" href="#contributions">
                    Contributions
                    <span class="counter">{{len .Contributions}}</span>
                </a>
            </div>
            <div class="content projects">
                {{range .Projects}}
                    <div class="card">
                        <a href="https://github.com/{{.FullName}}" class="name">
                            {{if not (eq .Owner.Username $.User.Username)}}
                                <span class="owner">
                                    {{.Owner.Username}}/
                                </span>
                            {{end}}
                            {{.Name}}
                        </a>
                        <p class="description">
                            {{.Description}}
                        </p>
                        <div class="labels">
                            {{$FullName := .FullName}}
                            {{range .Languages.Nodes}}
                                <a class="label" href="https://github.com/{{$FullName}}/search?l={{.Name}}">
                                    <span class="color" style="background-color: {{.Color}}"></span>
                                    {{.Name}}
                                </a>
                            {{end}}
                            {{if gt (len .Languages.Nodes) 0}}
                                <div class="gap"></div>
                            {{end}}
                            {{if gt .Stargazers.Count 0}}
                                <a class="label" href="https://github.com/{{.FullName}}/stargazers">
                                    {{template "assets/star.svg"}}
                                    {{.Stargazers.Count}}
                                </a>
                            {{end}}
                        </div>
                    </div>
                {{end}}
            </div>
            <div class="content contributions">
                <div class="card">soon™</div>
            </div>
        </div>
    </div>

    <script>{{template "script.js"}}</script>
</body>
</html>
