<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <style>{{template "style.css"}}</style>
</head>
<body>
    <div class="page">
        <div class="info">
            <img src="{{.Icon}}" />
            <h1>{{.Name}}</h1>
            <h3>{{.Username}}</h3>
            <p>{{.Description}}</p>
            <hr/>
            <i>{{template "assets/location.svg"}}</i> <span>{{.Location}}</span>
        </div>
        <div class="tabs">
            <div class="nav">
                <a class="item projects hash-active" href="#projects">
                    Projects&nbsp;2 <!-- TODO add number pill -->
                </a>
                <a class="item contributions" href="#contributions">
                    Contributions&nbsp;1
                </a>
            </div>
            <div class="content projects hash-active">
                <div class="card">pro</div>
                <div class="card">pro</div>
            </div>
            <div class="content contributions">
                <div class="card">con</div>
            </div>
        </div>
    </div>

    <div class="github-icon">
        <a href="{{.Repo}}" target="_blank">
            {{template "assets/github.svg"}}
        </a>
    </div>

    <script>{{template "script.js"}}</script>
</body>
</html>
