body {
    background-color: #ffffff;
    color: #24292e;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

.page {
    margin: 178px auto 0;
    width: calc(230px + 2*360px + 5*16px)
}

    .page .info {
        display: inline-block;
        width: 230px;
    }

        .page .info img {
            border-radius: 8px;
            display: block;
            height: 230px;
            width: 230px;
        }

        .page .info h1 {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 0;
        }

        .page .info h3 {
            color: #666666;
            font-size: 20px;
            font-weight: 300;
            line-height: 24px;
            margin: 0;
        }

        .page .info p {
            color: #6a737d;
            font-size: 14px;
            font-weight: 300;
            margin: 16px 0 0;
        }

        .page .info hr {
            border: none;
            border-top: 1px solid #eaecef;
            height: 1px;
            margin: 11px 0;
        }

        .page .info span {
            font-size: 14px;
        }

        .page .info i {
            display: inline-block;
            padding: 2px 2px 16px 1px;
            transform: translate(0, 3px);
        }

    .page .tabs {
        display: inline-block;
        margin-left: 32px;
        vertical-align: top;
        width: calc(100% - 230px - 32px);
    }

        .page .tabs .nav {
            border-bottom: 1px solid #d1d5da;
            height: 54px;
            margin-top: calc(-54px + 2px);
        }

            .page .tabs .nav a.item {
                color: #586069;
                display: inline-block;
                font-size: 14px;
                margin-right: 16px;
                padding: 16px 8px;
                text-align: center;
                text-decoration: none;
            }

            .page .tabs .nav a.item.hash-active {
                border-bottom: 2px solid #e36209;
                color: #24292e;
                font-weight: 600;
            }

        .page .tabs .content {
            display: none;
            padding-top: 32px;
            width: 100%;
        }

        .page .tabs .content.hash-active {
            display: block;
        }

            .page .tabs .content .card {
                border: 1px solid #d1d5da;
                border-radius: 3px;
                box-sizing: border-box;
                display: inline-block;
                margin-bottom: 16px;
                padding: 16px;
                width: calc(50% - 8px);
            }

            .page .tabs .content .card + .card {
                margin-left: 16px;
            }

/* footer */

.github-icon {
  bottom: 0;
  display: inline-block;
  margin: 30px 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

    .github-icon svg {
        width: 32px;
    }

        .github-icon svg path {
            fill: #e0e0e0;
        }

        .github-icon svg:hover path {
            fill: #d6d6d6;
        }
